* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
a {
  color: #666;
  font-size: 14px;
  display: block;
}
.login-title {
  text-align: center;
}
#login-page {
  display: flex;
}
.notice {
  font-size: 13px;
  text-align: center;
  color: #666;
}
.login {
  width: 30%;
  height: 100vh;
  background: #fff;
  padding: 70px;
}
.login img {
  width: 50px;
  margin: 0 auto;
  display: block;
  background-color: #3d81ea;
  padding: 5px;
  border-radius: 10px;
}
.login a {
  margin-top: 25px;
  text-align: center;
}
.form-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.form-login label {
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  color: #666;
}
.input-email,
.input-password {
  width: 100%;
  background: #ededed;
  border-radius: 25px;
  margin: 4px 0 10px 0;
  padding: 10px;
  display: flex;
}
.icon {
  padding: 4px;
  color: #666;
  min-width: 30px;
  text-align: center;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 4px 0;
  outline: none;
}
button[type="submit"] {
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 14px;
  background: #3d81ea;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: ease all 0.3s;
}
button[type="submit"]:hover {
  opacity: 0.9;
}
.background {
  width: 70%;
  padding: 40px;
  height: 100vh;
  background: linear-gradient(
      60deg,
      rgba(61, 129, 234, 0.5),
      rgba(61, 129, 235, 0.5)
    ),
    url("../img/cover.png")
      center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
}
.header-content {
  background-color: #3d81ea;
  padding: 10px;
  border-radius: 10px;
}
.header-content img {
  width: 100px;
}
.background span {
  color: #fff;
  font-size: 5rem;
  text-align: right;
  padding: 0;
  margin: 0;
}
.background h1 {
  max-width: 700px;
  color: #fff;
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 4rem;
}
.background p {
  max-width: 1000px;
  color: #1a1a1a;
  font-size: 20px;
  text-align: right;
  padding: 0;
  margin: 15px 0 0 0;
}
.checkbox label {
  display: inline;
  margin: 0;
}
