@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #c9ddfe;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 30px;
  padding: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.left-links,
.right-links,
.middle-links {
  display: flex;
  align-items: center;
}
ul img {
  height: 50px;
  width: 50px;
}
.left-links {
  align-items: center;
}
.left-links img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}
.middle-links li:first-child a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.middle-links li {
  position: relative;
  font-size: 2rem;
}
.middle-links a {
  color: #86888b;
}
.middle-links #a-home {
  color: #000;
  font-weight: 600;
}
.middle-links {
  justify-content: center;
  gap: 3rem;
}

.middle-links a {
  color: #86888b;
  transition: color 0.3s ease;
  text-decoration: none;
}

.middle-links a:hover {
  text-decoration: none;
}

.middle-links #a-home {
  color: #000;
  font-weight: 600;
}
.middle-links li:first-child a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 10px;
  height: 2px;
  background-color: #0b60b0;
  display: block;
  transform: translateX(-50%);
}
.middle-links a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #0b60b0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.middle-links a:hover {
  color: #000;
}
.middle-links a:hover::before {
  width: 10px;
}
.right-links button {
  border: solid 3px #3e81ec;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px; 
  background-color: transparent;
}

.left-links {
  align-items: center;
}
.left-links img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}
.tags {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.tags img {
  height: 50px;
  margin-right: 5px;
}
.left-links img {
  background-color: #c9ddfe;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0px;
  width: 70px;
  height: 70px;
}
.left-links {
  font-weight: bold;
}
.tags a {
  color: #86888b;
  text-decoration: none;
}
.home a {
  color: #000;
}
.brand {
  font-size: 40px;
  color: #000;
}

.container {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0px;
  flex-wrap: wrap;
  gap: 30px;
}

.hero,
.hero-image {
  flex: 1;
  max-width: 55%;
  box-sizing: border-box;
}
.hero {
  margin-right: 40px;
}
.hero-cta h1 {
  color: #0056b3;
}

.hero-image img {
  max-height: 500px;
  width: auto;
  display: block;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .hero,
  .hero-image {
    max-width: 100%;
  }
}
